@define-color black #0A0908;
@define-color blue #22333B;
@define-color white #EAE0D5;
@define-color beige #C6AC8F;
@define-color brown #5E503F;

@define-color active #d90429;
@define-color alert #ff006e;
@define-color warning #ff006e;
@define-color good #2ec4b6;

@define-color fallback-color @white;

@define-color clock-background @blue;
@define-color clock-border @white;
@define-color clock-text @white;

@define-color workspaces-button-background @blue; 
@define-color workspaces-button-active @white;
@define-color workspaces-button-urgent @alert;
@define-color workspaces-button-text @white;

@define-color workspaces-background @blue;
@define-color workspaces-border @white;
@define-color workspaces-text @white;

@define-color waybar-background @no;
@define-color waybar-top-border @no;
@define-color waybar-bottom-border @no;
@define-color waybar-border @no;

@define-color ppf-powersaver-background @brown;
@define-color ppf-powersaver-border @beige;
@define-color ppf-powersaver-text @beige;
@define-color ppf-performance-background @brown;
@define-color ppf-performance-border @beige;
@define-color ppf-performance-text @beige;
@define-color ppf-balanced-background @brown;
@define-color ppf-balanced-border @beige;
@define-color ppf-balanced-text @beige;

@define-color middlemodules-background @brown;
@define-color middlemodules-text @white;

window#waybar {
	
	background-color: @waybar-background; 
	border-bottom: 0px solid @waybar-bottom-border;
	border-top: 0px solid @waybar-top-border;
	border: 0px solid @waybar-border;
}

#workspaces button.active {
	color: @workspaces-button-active;
	border-radius:20px
}

#workspaces button {
	background-color: @workspaces-button-background;
	color: @workspaces-button-text;
	border-radius: 20px;
}

#workspaces button.urgent {
	color: @workspaces-button-urgent;
}

#workspaces button:hover {
	color: @blue; 
} 

#workspaces {
	background-color: @workspaces-background;
	border: 2px solid @workspaces-border;
	border-radius: 20px;
	margin-left: 8px;
}

#network,
#bluetooth,
#pulseaudio,
#backlight,
#temperature,
#cpu,
#tray,
#custom-cava,
#battery {
	padding: 0 10px;
	color: @middlemodules-background;
	background-color: @middlemodules-text;
}

#custom-weather { 
	font-family: TT Squares;
}

#network {
	border-radius: 20px 0px 0px 20px; 
	margin-left: 4px; 
}

#battery.warning:not(.charging) {
	color: @alert;
}

#battery.critical:not(.charging) {
	color: @warning;
}

#battery.charging {
	color: @good;
}

#battery {
	border-radius: 0px 20px 20px 0px;
	margin-right: 4px;
}

#pulseaudio.muted {
	color: @warning;

}

#pulseaudio.low:not(.muted) { 
	color: @alert;
}

#pulseaudio.zero {
        color: @warning;
}

#temperature.warning {
	color: @alert;
}

#temperature.critical { 
	color: @warning;
}

#bluetooth.off {
	color: @warning;
}

#network.disconnected {
	color: @warning;
}

#power-profiles-daemon.performance {
	background-color: @ppf-performance-background;
        border-radius: 20px;
        color: @ppf-performance-text;
        border: 2px solid @ppf-powersaver-border;
	font-size: 16px;
	padding: 10px;
}

#power-profiles-daemon.balanced {
        background-color: @ppf-balanced-background;
        border-radius: 20px;
        color: @ppf-balanced-text;
        border: 2px solid @ppf-powersaver-border;
	font-size: 16px;
	padding: 10px;
}

#power-profiles-daemon.power-saver {
	background-color: @ppf-powersaver-background;
	border-radius: 20px;
	color: @ppf-powersaver-text;
	border: 2px solid @ppf-powersaver-border;
	font-size: 16px;
	padding: 10px;
}

#clock { 
	background-color: @clock-background;
	border: 2px solid @clock-border;
	color: @clock-text;
	border-radius: 20px;
	padding: 10px;	
}


