@define-color black #000000;
@define-color white #ffffff;
@define-color blue #00869b;
@define-color ored #ff2700;
@define-color red #ff0000;
@define-color yellow #fffd8c;
@define-color green #a1ff2e;
@define-color cyan #14E4FF;
@define-color blu #9cc4f4; 

@define-color active @red;
@define-color alert @yellow;
@define-color warning @red;
@define-color good @green;

@define-color fallback-color @white;

@define-color clock-background @black;
@define-color custom-border @white;
@define-color custom-text @white;

@define-color workspaces-active-color @white;
@define-color workspaces-urgent-color @red;

@define-color workspaces-background @black;
@define-color workspaces-border @white;
@define-color workspaces-text @white;

@define-color waybar-background @no;
@define-color waybar-top-border @no;
@define-color waybar-bottom-border @no;
@define-color waybar-border @no;

@define-color ppf-powersaver-background @black;
@define-color ppf-powersaver-border @black;
@define-color ppf-powersaver-text @white;
@define-color ppf-performance-background @black;
@define-color ppf-performance-border @black;
@define-color ppf-performance-text @white;
@define-color ppf-balanced-background @black;
@define-color ppf-balanced-border @black;
@define-color ppf-balanced-text @white;

@define-color middlemodules-background @black;
@define-color middlemodules-text @white;

window#waybar {
	
	background-color: @waybar-background; 
	border-bottom: 0px solid @waybar-bottom-border;
	border-top: 0px solid @waybar-top-border;
	border: 0px solid @waybar-border;
}

#workspaces button.active {
	color: @workspaces-active-color;
}

#workspaces button.urgent {
	color: @workspaces-urgent-color;
}

#workspaces {
	background-color: @workspaces-background;
	border: 2px solid @workspaces-border;
	color: @workspaces-text;
	border-radius: 20px;
}

#network,
#bluetooth,
#pulseaudio,
#backlight,
#temperature,
#cpu,
#tray,
#custom-cava,
#battery {
	padding: 0 10px;
	color: @middlemodules-background;
	background-color: @middlemodules-text;
}

#custom-weather { 
	font-family: TT Squares;
}

#network {
	border-radius: 20px 0px 0px 20px; 
	margin-left: 4px; 
}

#battery.warning:not(.charging) {
	color: @alert;
}

#battery.critical:not(.charging) {
	color: @warning;
}

#battery.charging {
	color: @good;
}

#battery {
	border-radius: 0px 20px 20px 0px;
	margin-right: 4px;
}

#pulseaudio.muted {
	color: @warning;

}

#pulseaudio.low:not(.muted) { 
	color: @alert;
}

#pulseaudio.zero {
        color: @warning;
}

#temperature.warning {
	color: @alert;
}

#temperature.critical { 
	color: @warning;
}

#bluetooth.off {
	color: @warning;
}

#network.disconnected {
	color: @warning;
}

#power-profiles-daemon.performance {
	background-color: @ppf-performance-background;
        border-radius: 20px;
        color: @ppf-performance-text;
        border: 2px solid @ppf-powersaver-border;
	font-size: 16px;
	padding: 10px;
}

#power-profiles-daemon.balanced {
        background-color: @ppf-balanced-background;
        border-radius: 20px;
        color: @ppf-balanced-text;
        border: 2px solid @ppf-powersaver-border;
	font-size: 16px;
	padding: 10px;
}

#power-profiles-daemon.power-saver {
	background-color: @ppf-powersaver-background;
	border-radius: 20px;
	color: @ppf-powersaver-text;
	border: 2px solid @ppf-powersaver-border;
	font-size: 16px;
	padding: 10px;
}

#clock { 
	background-color: @clock-background;
	border: 2px solid @clock-border;
	color: @clock-text;
	border-radius: 20px;
	padding: 10px;	
}


