@define-color black #000000;
@define-color white #ffffff;
@define-color blue #00869b;
@define-color ored #ff2700;
@define-color red #ff0000;
@define-color yellow #fffd8c;
@define-color green #a1ff2e;
@define-color cyan #14E4FF;
@define-color blu #9cc4f4; 

@define-color active @red;
@define-color alert @yellow;
@define-color warning @red;
@define-color good @green;

@define-color fallback-color @white;

@define-color clock-color @red;
@define-color custom-text-color @red;

@define-color workspaces-active-color @white;
@define-color workspaces-urgent-color @red;

@define-color top-waybar-background @no;
@define-color top-waybar-top-border @black;
@define-color top-waybar-bottom-border @red;
@define-color bottom-waybar-background @no;
@define-color bottom-waybar-top-border @red;
@define-color bottom-waybar-bottom-border @black;
@define-color powerprofilesps @white;
@define-color powerprofilesperf @white;
@define-color powerprofilesbal @white;
@define-color powerprofilesdaemonbackground @black;


window#waybar.top {
	
	background-color: @top-waybar-background; 
	border-bottom: 0px solid @top-waybar-bottom-border;
	border-top: 0px solid @top-waybar-top-border;
}

window#waybar.bottom {
	background-color: @bottom-waybar-background; 
	border-bottom: 0px solid @bottom-waybar-bottom-border;
        border-top: 0px solid @bottom-waybar-top-border;
}

#workspaces button.active {
	color: @workspaces-active-color;
}

#workspaces button.urgent {
	color: @workspaces-urgent-color;
}

#workspaces {
	background-color: @black;
	border-radius: 10px;
}

#clock { 
	color: @white;
	background-color: @black;
	border-radius: 10px;
	padding: 10px;	
}

#custom-text {
	font-size: 16px;
	color: @custom-text-color;
}

#custom-weather { 
	font-family: TT Squares;
}

#battery.warning:not(.charging) {
	color: @alert;
}

#battery.critical:not(.charging) {
	color: @warning;
}

#battery.charging {
	color: @good;
}

#pulseaudio.muted {
	color: @warning;

}

#pulseaudio.low:not(.muted) { 
	color: @alert;
}

#pulseaudio.zero {
        color: @warning;
}

#temperature.warning {
	color: @alert;
}

#temperature.critical { 
	color: @warning;
}

#bluetooth.off {
	color: @warning;
}

#network.disconnected {
	color: @warning;
}

#power-profiles-daemon.performance {
	background-color: @powerprofilesdaemonbackground;
        border-radius: 10px;
        color: @powerprofilesps;
        font-size: 16px;
	padding: 10px;
}

#power-profiles-daemon.balanced {
        background-color: @powerprofilesdaemonbackground;
        border-radius: 10px;
        color: @powerprofilesps;
        font-size: 16px;
	padding: 10px;
}

#power-profiles-daemon.power-saver {
	background-color: @powerprofilesdaemonbackground;
	border-radius: 10px;
	color: @powerprofilesps;
	font-size: 16px;
	padding: 10px;
}

